<p id="notice"><%= notice %></p>

<h1>Today's Events/Lessons</h1>

<div class="meetings">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>



     <% @meetings = Meeting.all %>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time.strftime('%H:%M') %></td>
        <td><%= meeting.end_time.strftime('%H:%M') %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</div>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>
