<!DOCTYPE html>
<html>
<head>
</head>

<body>

 <div class="panel panel-default">
 
  <div class="panel-body2">
    
 
  <%= link_to "Home", root_path, class: "circle" %>
  
  </div>    
</div>

<div class="margin">
<table class="table table-hover">

		<tr class="active">
  		   <td><%= "Student's Name"  %></td>

  			
  		   <td><%= "Current Lexile Level" %></td>

  		   <td><%=  "Current Guided Reading Level" %></td>
  		</tr>


		<% @student.each do |student| %>
		<tr class="active">
	       <%= link_to(@student) do %>
        <strong><%= @student.fname %></strong> -- <span>Check it out!</span>
        <% end %>

       <strong>David</strong> -- <span>Check it out!</span>
     </a>
  		   
         <td><%= link_to "#{student.fname + " " + student.lname}", profile_path(@student.id), class: "name" %></td>
  	     
         <td><%= student.id %>
  			
  		   <td><%= student.current_lexile_level %></td>

  		   <td><%= student.current_guided_reading_level %></td>
  		</tr>
  		<% end %> 
</div>  

  	


</table>


</body>

</html>