

   
<%= link_to 'Log Out', root_path, class: "rectangle3" %>
<div class="panel panel-default">
  <div class="panel-body">
 


<!-- Button trigger modal -->
<button type="button" class="circle" data-toggle="modal" data-target="#myModal">
  Add a Student
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Student</h4>
      </div>
      <div class="modal-body">
        <div class="sign_up">
      <%= simple_form_for @student do |f| %>
      
       <%= f.input :fname %>
       <%= f.input :lname %>
         <%= f.input :current_lexile_level  %>
         <%= f.input :current_guided_reading_level %>
         
         <%= f.button :submit, class: "circle" %>
    <% end %>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="circle" data-toggle="modal" data-target="#myModal">
  Add a Running Record
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Student</h4>
      </div>
      <div class="modal-body">
        <div class="sign_up">
      <%= simple_form_for Student.new do |f| %>
      
       <%= f.input :fname %>
       <%= f.input :lname %>
         <%= f.input :current_lexile_level  %>
         <%= f.input :current_guided_reading_level %>
         
         <%= f.button :submit, class: "circle" %>
    <% end %>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

 </div>
 <div class="panel-footer"></div></span>
</div>


</body>
</html>






