

 	 
<%= link_to 'Log Out', root_path, class: "rectangle3" %>
<div class="title">
<%= "Student Learning Profile for " + @student.fname + " " + @student.lname %>
</div>

	<tr class="active">
			<td><%= @student.id %></td>
  			
  		   <td><%= @student.current_lexile_level %></td>

  		   <td><%= @student.current_guided_reading_level %></td>

  		   <%= link_to 'Delete This Student', destroy_student_path, method: :delete, class: "circle" %>
 	

 	 </tr>
