

<%= link_to 'Delete Your Account', destroy_user_path, method: :delete, class: "circle" %>

<!-- Button trigger modal -->
<button type="button" class="circle" data-toggle="modal" data-target="#myModal2">
 Edit Your Account
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Your Account</h4>
      </div>
      <div class="modal-body">
      <div class="sign_up">
       <%= simple_form_for User.find(params[:id]), :url => url_for(:action => 'update', :controller => 'users'),
    :method => 'patch' do |f|  %>
			
		 	 <%= f.input :username, placeholder: '12 characters', :required => true, label_html: { class: 'my_class' } %>
			 <%= f.input :password, placeholder: '8 characters', hint: false, :required => true, error_html: { id: 'password_error'} %>
		  	 <%= f.input :email, placeholder: 'user@domain.com', :required => true %>
        
  
		  	
		  	 <%= f.button :submit, class: "circle" %>
			<% end %>
		</div>

      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
        
      </div>
    </div>
  </div>
</div>
</div>

