<!DOCTYPE html>
<html>
  <head>
    <title>
      User Profile
    </title>
  </head>
  <body>
      <div class="panel panel-default">   
        <div class="panel-body">
          
          <%= render 'student' %>
          <%= render 'book' %>
          <%= link_to 'Your Account', account_path(@user), class: "rectangle2" %>
          <%= link_to 'Log Out', root_path, class: "rectangle3" %>
        </div>
      
        
          <%= render partial: 'meeting', locals: { meetings: @meetings} %>
        </div>
 </div>
</div>

     
      
     
      









 
     




 
    </div>



 



 

    


        
 <% @meeting = Meeting.all %>
 <div class ="schedule">
  Today's Schedule
</div>
    <% @meeting.each do |meeting| %>

      <tr>
   
       
          

      <%= link_to meeting.name + "#{meeting.start_time.strftime("%I:%M%p")}" + "-" + "#{meeting.end_time.strftime("%I:%M%p")}" + " " %> <br> 
       <%= link_to 'Edit', edit_meeting_path(meeting) %> 
       <%= link_to 'Delete', destroy_meeting_path(meeting), method: :delete, data: { confirm: 'Are you sure?' } %>
     
      </tr>
       
      

       
   


       
       <% end %>

   


       

 










</div>








   

 
</div>




</body>

</html>

