<div class="sign_up">
	<%= simple_form_for @book do |f| %>
	
 	 <%= f.input :title %>
	 <%= f.input :author %>
  	 <%= f.input :lexile_level  %>
  	 <%= f.input :guided_reading_level %>
  	 
  	 <%= f.button :submit, class: "circle" %>
<% end %>
</div>
